name: Release Published
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 18
      - run: npm ci
      - uses: JS-DevTools/npm-publish@8f08ec0dafe29acea4e9efe18e67ebde86904ad1 # v4.1.2
        with:
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
          access: public